#divCell{
	/* width: 300px; */
	/* height: 200px; */
	/* background-color:red; */
	color: #fff;
	text-align: center;
}
#divCell .part-name{
	background-color:rgba(0, 0, 0,.5);
	text-align: center;
	display: inline-block;
	/* padding: 5px 0; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}
/* .part-dec{
	background-color:rgba(17, 188, 236, 0.5);
	height:calc(100% - 50px);
	width: 100%;
} */
/* p{
	margin:  0;
	padding: 0;
} */